* {
    font-family: 'DM Sans';
    font-weight: 500;
    color: white;
}

body {
    background-color: #111827;
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

h1 {
    font-weight: 700;
}

h2 {
    font-size: 200%;
    font-weight: 700;
}

header {
    padding: 24px 0px;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header-nav {
    display: flex;
    text-align: left;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-right: 7.5px;
}

.section-1 {
    display: flex;
    align-items: center;
    text-align: left;
    justify-content: space-between;
}

.header-button {
    border-radius: 5px;
    padding: 12px 24px;
}

button {
    background: linear-gradient(to right, #3862E3, #7856E5);
    background-size: cover;
    border: none;
}

h1 {
    background: linear-gradient(to right, #2563EB, #D946EF);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 500%;
}

.logo-center-text {
    display: flex;
    align-items: center;
    margin: 5px;
    font-size: 125%;
}

.horizontal-list {
    display: flex;
    padding: 0;
    margin: 0;
    margin-left: auto;
    align-items: center;
    list-style: none;
}

.margin-in-header-list {
    margin-right: 20px;
}

.left-header-div {
    display: flex;
    align-items: left;
    text-align: left;
}

.right-header-div {
    text-align: left;
    margin: 10px;
}

.left-section-1-div {
    align-items: left;
    text-align: left;
    width: 50%;
    margin: 10px;
}

.right-section-1-div {
    text-align: center;
    margin: 10px;
    width: 50%;
}

.section-1-p {
    font-size: 130%;
}

.section-1-buttons {
    display: flex;
}

.join-us-button {
    font-size: 15px;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
}

.margin-10px {
    margin: 10px;
}

.join-us-button-a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.center {
    display: flex;
    justify-content: center;
}

.our-service-text {
    margin-top: 100px;
    margin-bottom: 50px;
    font-size: 300%;
}

.six-boxes-div-lvl1 {
    display: flex;
    align-items: center;
    margin-top: 35px;
    width: 100%;
    flex-direction: column;
}

.under-text-our-service {
    font-size: 120%;
}

.six-boxes-div-lvl2 {
    display: flex;
}

.other-div-in-six-boxes-div {
    width: 80%;
}

.div-box {
    width: 300px;
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 15px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 8px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    border: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.text-under-icons-lvl1 {
    font-size: 145%;
}

.text-under-icons-lvl2 {
    font-size: 90%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.learn-more-text {
    margin-top: 20px;
}

.first-div-in-section-3 {
    display: flex;
    justify-self: left;
    width: 507px;
}

.second-div-in-section-3 {
    display: flex;
    justify-self: right;
    width: 50.95%;
    padding-left: 50px;
}

.h3-in-section-3 {
    font-size: 400%;
}

.read-more-button {
    font-size: 15px;
    justify-content: center;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
}

.section-4-div-lvl1 {
    margin-top: 50px;
    justify-content: space-between;
}

.section-4-div-lvl2 {
    width: 23%;
}

.section-4-div-lvl3 {
    justify-content: space-between;
    margin-top: -5px;
}

.section-4-p-lvl1 {
    margin: 2px;
}

.section-4-p-lvl2 {
    font-size: 150%;
    font-weight: 500;
    margin-bottom: 0;
}

.section-4-p-lvl3 {
    font-size: 90%;
    margin-top: 5px;
}

.section-4-h1 {
    margin-top: 50px;
}

.section-4-img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.section-4-icon {
    margin-left: 2.5px;
    margin-right: 2.5px;
}

.section-5-main-div {
    margin-top: 50px;
    width: 100%;
}

.section-3-h2 {
    margin-bottom: 0px;
}

.subscription-form {
    background: linear-gradient(to right, rgba(254, 254, 255, 0.03), rgba(255, 255, 255, 0.05));
    border-radius: 10px;
    margin-bottom: 20px;
    width: 80%;
}

.subscription-form-input {
    width: 80%;
}
